gal/src/main/resources/wsdl/northbound/provManagement/UNICA_API_SOAP_OProv_Management_v7_1.xsd

<!-- Release Date: January 20, 2012 --><xsd:schema targetNamespace="http://www.telefonica.com/wsdl/UNICA/SOAP/OProv_Management/v7/local" xmlns:uct="http://www.telefonica.com/schemas/UNICA/SOAP/common/v1" xmlns:ns="http://www.telefonica.com/schemas/UNICA/SOAP/OProv_Management/v7/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.telefonica.com/schemas/UNICA/SOAP/OProv_Management/v7/" schemaLocation="UNICA_API_SOAP_OProv_Management_types_v7_1.xsd"/>
			<xsd:import namespace="http://www.telefonica.com/schemas/UNICA/SOAP/common/v1" schemaLocation="UNICA_API_SOAP_common_types_v1_1.xsd"/>
			<xsd:element name="getAllUsers">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
						<xsd:element name="searchParameters" type="uct:SearchParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllUsersResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="uct:UserIdType" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userCreation" type="ns:UserCreationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createUserResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalUserID" type="uct:UserIdType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="confirmUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="globalUserID" type="uct:UserIdType"/>
							<xsd:element name="userNickName" type="uct:UserIdType"/>
							<xsd:element name="userIdentity" type="uct:UserIdType"/>
						</xsd:choice>
						<xsd:element name="verificationCode" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="globalUserID" type="uct:UserIdType"/>
							<xsd:element name="userNickName" type="uct:UserIdType"/>
							<xsd:element name="userIdentity" type="uct:UserIdType"/>
						</xsd:choice>
						<xsd:element name="userUpdate" type="ns:UserUpdateType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUserDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="globalUserID" type="uct:UserIdType"/>
							<xsd:element name="userNickName" type="uct:UserIdType"/>
							<xsd:element name="userIdentity" type="uct:UserIdType"/>
							<xsd:element name="externalIdentity" type="uct:UserIdType"/>
						</xsd:choice>
						<xsd:element name="userRole" type="xsd:unsignedInt" minOccurs="0"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
						<xsd:element name="searchParameters" type="uct:SearchParamsType" minOccurs="0"/>							
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>

			<xsd:element name="getUserDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userInfo" type="ns:UserInfoType" maxOccurs="2"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="deleteUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalUserID" type="uct:UserIdType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAppProviders">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAppProvidersResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="uct:UserIdType" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createAppProvider">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppProvID" type="uct:UserIdType"/>
						<xsd:element name="appProviderCreation" type="ns:AppProviderCreationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateAppProvider">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppProvID" type="uct:UserIdType"/>
						<xsd:element name="appProviderUpdate" type="ns:AppProviderUpdateType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAppProviderDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppProvID" type="uct:UserIdType"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getAppProviderDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="appProviderInfo" type="ns:AppProviderInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteAppProvider">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalUserID" type="uct:UserIdType"/>
						<xsd:element name="deleteApps" type="xsd:boolean" minOccurs="0"/>
						<xsd:element name="deprecateApps" type="xsd:boolean" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setAppProviderTrustability">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppProvID" type="uct:UserIdType"/>
						<xsd:element name="isTrusted" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllApplications">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
						<xsd:element name="searchParameters" type="uct:SearchParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllApplicationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createApplication">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="applicationCreation" type="ns:ApplicationCreationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createApplicationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppID" type="xsd:int"/>
						<xsd:element name="appCredentials" type="ns:CredentialType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateApplication">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppID" type="xsd:int"/>
						<xsd:element name="applicationUpdate" type="ns:ApplicationUpdateType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateApplicationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppID" type="xsd:int" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="appCredentials" type="ns:CredentialType" minOccurs="0" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getApplicationDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="globalAppID" type="xsd:int"/>
							<xsd:element name="consumerKey" type="xsd:string"/>
						</xsd:choice>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getApplicationDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="applicationInfo" type="ns:ApplicationInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteApplication">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAssets">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAssetsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAssetDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAssetID" type="xsd:int"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getAssetDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="assetInfo" type="ns:AssetInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAPIs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAPIsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAPIDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAPIID" type="xsd:int"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getAPIDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="apiInfo" type="ns:APIInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllOBs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllOBsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOBDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalOBID" type="xsd:int"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getOBDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obInfo" type="ns:OBInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllServices">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllServicesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getServiceDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalServiceID" type="xsd:string"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getServiceDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceInfo" type="ns:ServiceInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getApplicableSLAs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="entityCategory">
							<xsd:simpleType>
								<xsd:restriction base="xsd:int">
									<xsd:enumeration value="0"/>
									<xsd:enumeration value="1"/>
									<xsd:enumeration value="2"/>
									<xsd:enumeration value="3"/>
									<xsd:enumeration value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getApplicableSLAsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="applicableSLAs">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="applicableSLA" type="ns:SLAType" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>