gal/src/main/resources/wsdl/southbound/UMG/TD_SubscriptionService/TD_SubscriptionService3.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GVP.GAL.API" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/GVP.GAL.API">
	<xs:import schemaLocation="TD_SubscriptionService4.xsd" namespace="http://schemas.datacontract.org/2004/07/GVP.GAL.Model"/>
	<xs:complexType name="ResultDataContractOfboolean">
		<xs:annotation>
			<xs:appinfo>
				<GenericType Name="ResultDataContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/GVP.GAL.API" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
					<GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema"/>
				</GenericType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="StatusCode" type="q1:StatusCode" xmlns:q1="http://schemas.datacontract.org/2004/07/GVP.GAL.Model"/>
			<xs:element minOccurs="0" name="Severity" type="q2:Severity" xmlns:q2="http://schemas.datacontract.org/2004/07/GVP.GAL.Model"/>
			<xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Content" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResultDataContractOfboolean" nillable="true" type="tns:ResultDataContractOfboolean"/>
</xs:schema>