gal/src/main/resources/wsdl/southbound/UMG/TD_SubscriptionService/TD_SubscriptionService0.wsdl

<wsdl:definitions targetNamespace="GVP.GAL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="GVP.GAL" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsdl:types>
		<xsd:schema targetNamespace="GVP.GAL/Imports">
			<xsd:import schemaLocation="TD_SubscriptionService0.xsd" namespace="GVP.GAL"/>
			<xsd:import schemaLocation="TD_SubscriptionService1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="TD_SubscriptionService2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<xsd:import schemaLocation="TD_SubscriptionService3.xsd" namespace="http://schemas.datacontract.org/2004/07/GVP.GAL.API"/>
			<xsd:import schemaLocation="TD_SubscriptionService4.xsd" namespace="http://schemas.datacontract.org/2004/07/GVP.GAL.Model"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ITD_SubscriptionService_AddMultipleSubscription_InputMessage">
		<wsdl:part name="parameters" element="tns:AddMultipleSubscription"/>
	</wsdl:message>
	<wsdl:message name="ITD_SubscriptionService_AddMultipleSubscription_OutputMessage">
		<wsdl:part name="parameters" element="tns:AddMultipleSubscriptionResponse"/>
	</wsdl:message>
	<wsdl:message name="ITD_SubscriptionService_RemoveMultipleSubscription_InputMessage">
		<wsdl:part name="parameters" element="tns:RemoveMultipleSubscription"/>
	</wsdl:message>
	<wsdl:message name="ITD_SubscriptionService_RemoveMultipleSubscription_OutputMessage">
		<wsdl:part name="parameters" element="tns:RemoveMultipleSubscriptionResponse"/>
	</wsdl:message>
	<wsdl:portType name="ITD_SubscriptionService">
		<wsdl:operation name="AddMultipleSubscription">
			<wsdl:input wsaw:Action="GVP.GAL/ITD_SubscriptionService/AddMultipleSubscription" message="tns:ITD_SubscriptionService_AddMultipleSubscription_InputMessage"/>
			<wsdl:output wsaw:Action="GVP.GAL/ITD_SubscriptionService/AddMultipleSubscriptionResponse" message="tns:ITD_SubscriptionService_AddMultipleSubscription_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="RemoveMultipleSubscription">
			<wsdl:input wsaw:Action="GVP.GAL/ITD_SubscriptionService/RemoveMultipleSubscription" message="tns:ITD_SubscriptionService_RemoveMultipleSubscription_InputMessage"/>
			<wsdl:output wsaw:Action="GVP.GAL/ITD_SubscriptionService/RemoveMultipleSubscriptionResponse" message="tns:ITD_SubscriptionService_RemoveMultipleSubscription_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>